body{
   background-image: url(https://img.freepik.com/free-vector/purple-powder-clouds-texture-abstract-effect-color-mist-smog-with-glitter-particles-vector-realistic-illustration-violet-steam-magic-dust-splash-with-sparkles-black-background_107791-11324.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}