.AboutData {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
  }
  
  /* .Link {
    text-decoration: none;
    color: #007bff; 
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
  } */
  
  

