.EducationPage {
    text-align: center;
    margin-top: 20px;
    background-image: url(https://i.pinimg.com/564x/00/8c/82/008c82d830ef3a0b40b672e57c2f66eb.jpg);
  }
  
  .EducationHeading {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
  }
  
  .EducationList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .EducationItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .Qualification {
    font-weight: bold;
  }
  
  .Duration {
    color: #777;
  }
  