.EducationPage {
    text-align: center;
    margin-top: 20px;
  }
  
  .EducationHeading {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
  }
  
  .EducationList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .EducationItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 24% 76% 31% 69% / 72% 19% 81% 28% ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: darkkhaki;
    
  }
  
  .Qualification {
    font-weight: bold;
  }
  
  .Duration {
    color: #777;
  }
  